body {
    background-color: purple;
}

@media only screen and (max-width: 540px) {
    body {
      background-color: plum;
    }
  }

#icons {
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
}

#tasks-area {
  color: purple
}

#task-button {
  color: purple;
  float: right;
}

#todo-dot {
  color: red
}

#done-dot {
  color: green
}
